# Assignment is below at the end

- https://scikit-learn.org/stable/modules/tree.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
- https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.rcParams['font.size'] = 14
import pandas as pd

In [67]:
df = pd.read_csv('adult.data.csv', index_col=False)

In [68]:
golden = pd.read_csv('adult.test.csv', index_col=False)

In [71]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [8]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [10]:
from sklearn import preprocessing

In [11]:
enc = preprocessing.OrdinalEncoder()

In [10]:
transform_columns = ['sex']
non_num_columns = ['workclass', 'education', 'marital-status', 
                     'occupation', 'relationship', 'race', 'sex', 
                     'native-country']

In [11]:
pd.get_dummies(df[transform_columns]).head()

   sex_ Female  sex_ Male
0            0          1
1            0          1
2            0          1
3            0          1
4            1          0

In [12]:
x = df.copy()

x = pd.concat([x.drop(non_num_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [13]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,sex_ Female,sex_ Male
0,39,77516,13,2174,0,40,0.0,0,1
1,50,83311,13,0,0,13,0.0,0,1
2,38,215646,9,0,0,40,0.0,0,1
3,53,234721,7,0,0,40,0.0,0,1
4,28,338409,13,0,0,40,0.0,1,0

In [14]:
xt = golden.copy()

xt = pd.concat([xt.drop(non_num_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [15]:
xt.salary.value_counts()

0.0    12435
1.0     3846
Name: salary, dtype: int64

In [16]:
enc.categories_

[array([' <=50K.', ' >50K.'], dtype=object)]

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

#### Choose the model of your preference: DecisionTree or RandomForest

In [51]:
model = RandomForestClassifier(criterion='entropy')

In [18]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=None)

In [19]:
model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy')

In [21]:
model.tree_.node_count

8343

In [22]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3231195799515179),
 ('education-num', 0.16025858181602443),
 ('capital-gain', 0.2273734101984664),
 ('capital-loss', 0.0781763982245288),
 ('hours-per-week', 0.15546086459479727),
 ('sex_ Female', 0.054681070063918334),
 ('sex_ Male', 0.0009300951507470084)]

In [23]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.3231195799515179),
 ('education-num', 0.16025858181602443),
 ('capital-gain', 0.2273734101984664),
 ('capital-loss', 0.0781763982245288),
 ('hours-per-week', 0.15546086459479727),
 ('sex_ Female', 0.054681070063918334),
 ('sex_ Male', 0.0009300951507470084)]

In [24]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,sex_ Female,sex_ Male
0,39,13,2174,0,40,0,1
1,50,13,0,0,13,0,1
2,38,9,0,0,40,0,1
3,53,7,0,0,40,0,1
4,28,13,0,0,40,1,0

In [25]:
set(x.columns) - set(xt.columns)

set()

In [26]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'sex_ Female',
 'sex_ Male']

In [27]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))
predictionsx = model.predict(x.drop(['fnlwgt','salary'], axis=1))

In [28]:
from sklearn.metrics import (
    accuracy_score, 
    classification_report, 
    confusion_matrix, auc, roc_curve
)

In [29]:
accuracy_score(xt.salary, predictions)

0.8209569436766784

In [30]:
accuracy_score(xt.salary, predictions)

0.8209569436766784

In [31]:
confusion_matrix(xt.salary, predictions)

array([[11469,   966],
       [ 1949,  1897]], dtype=int64)

In [32]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.85      0.92      0.89     12435
         1.0       0.66      0.49      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [33]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.85      0.92      0.89     12435
         1.0       0.66      0.49      0.57      3846

    accuracy                           0.82     16281
   macro avg       0.76      0.71      0.73     16281
weighted avg       0.81      0.82      0.81     16281

In [34]:
accuracy_score(x.salary, predictionsx)

0.8955806025613464

In [35]:
confusion_matrix(x.salary, predictionsx)

array([[24097,   623],
       [ 2777,  5064]], dtype=int64)

In [37]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

In [36]:
print(classification_report(x.salary, predictionsx))

              precision    recall  f1-score   support

         0.0       0.90      0.97      0.93     24720
         1.0       0.89      0.65      0.75      7841

    accuracy                           0.90     32561
   macro avg       0.89      0.81      0.84     32561
weighted avg       0.90      0.90      0.89     32561

# For the following use the above `adult` dataset. Start with only numerical features/columns.

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [72]:
df = pd.read_csv('adult.data.csv', index_col = False)

In [73]:
golden = pd.read_csv('adult.data.csv', index_col = False)

In [74]:
df['salary'] = df.salary.str.contains('>').astype(int)

In [75]:
golden['salary'] = golden.salary.str.contains('>').astype(int)

In [76]:
df.salary.unique(), golden.salary.unique()

(array([0, 1]), array([0, 1]))

In [77]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [78]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [79]:
# define non numeric columns
non_numeric_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [80]:
x = df.copy().drop(non_numeric_columns, axis = 1)

x.dtypes

age               int64
fnlwgt            int64
education-num     int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
salary            int32
dtype: object

In [81]:
xt = golden.copy().drop(non_numeric_columns, axis = 1)

In [82]:
xt.dtypes

age               int64
fnlwgt            int64
education-num     int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
salary            int32
dtype: object

# 1. Show the RandomForest outperforms the DecisionTree for a fixed `max_depth` by training using the train set and `precision`, `recall`, `f1` on golden-test set.

In [83]:
# decision tree model
dt_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5)

In [84]:
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [85]:
dt_model.tree_.node_count

49

In [86]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.28826906841145405),
 ('education-num', 0.21834980679407853),
 ('capital-gain', 0.3635623923390058),
 ('capital-loss', 0.10304106489113109),
 ('hours-per-week', 0.026777667564330546)]

In [87]:
x.drop(['fnlwgt','salary'], axis = 1).head()

   age  education-num  capital-gain  capital-loss  hours-per-week
0   39             13          2174             0              40
1   50             13             0             0              13
2   38              9             0             0              40
3   53              7             0             0              40
4   28             13             0             0              40

In [88]:
list(x.drop('salary', axis = 1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [89]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [90]:
# random forest model
rf_model = RandomForestClassifier(criterion = 'entropy')

In [91]:
rf_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

RandomForestClassifier(criterion='entropy')

In [92]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, rf_model.feature_importances_))

[('age', 0.3515563017992762),
 ('education-num', 0.17583541918138804),
 ('capital-gain', 0.20508101042706098),
 ('capital-loss', 0.08195735798096222),
 ('hours-per-week', 0.18556991061131267)]

In [93]:
x.drop(['fnlwgt','salary'], axis = 1).head()

   age  education-num  capital-gain  capital-loss  hours-per-week
0   39             13          2174             0              40
1   50             13             0             0              13
2   38              9             0             0              40
3   53              7             0             0              40
4   28             13             0             0              40

In [94]:
rf_predictions = rf_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [95]:
from sklearn.metrics import (accuracy_score, classification_report, confusion_matrix, auc, roc_curve)

In [96]:
# compare performance of dt and rf
accuracy_score(xt.salary, dt_predictions), accuracy_score(xt.salary, rf_predictions)

(0.8283836491508246, 0.8840944688430945)

In [97]:
confusion_matrix(xt.salary, dt_predictions), confusion_matrix(xt.salary, rf_predictions)

(array([[23610,  1110],
        [ 4478,  3363]], dtype=int64),
 array([[23915,   805],
        [ 2969,  4872]], dtype=int64))

In [98]:
print(classification_report(xt.salary, dt_predictions)), print(classification_report(xt.salary, rf_predictions))

              precision    recall  f1-score   support

           0       0.84      0.96      0.89     24720
           1       0.75      0.43      0.55      7841

    accuracy                           0.83     32561
   macro avg       0.80      0.69      0.72     32561
weighted avg       0.82      0.83      0.81     32561

              precision    recall  f1-score   support

           0       0.89      0.97      0.93     24720
           1       0.86      0.62      0.72      7841

    accuracy                           0.88     32561
   macro avg       0.87      0.79      0.82     32561
weighted avg       0.88      0.88      0.88     32561

(None, None)

# 2. For RandomForest or DecisionTree and using the `adult` dataset, systematically add new columns, one by one, that are non-numerical but converted using the feature-extraction techniques we learned. Show [`precision`, `recall`, `f1`] for each additional feature added.

In [99]:
# bring back og df w/ dropped non numerical columns
x = df.copy().drop(non_numeric_columns, axis = 1)

x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [100]:
od_enc = preprocessing.OrdinalEncoder()

### workclass

In [101]:
transform_columns = ['workclass']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])

In [102]:
x.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,workclass
0,39,77516,13,2174,0,40,0.0,0,0,0,0,0,0,0,1,0,7.0
1,50,83311,13,0,0,13,0.0,0,0,0,0,0,0,1,0,0,6.0
2,38,215646,9,0,0,40,0.0,0,0,0,0,1,0,0,0,0,4.0
3,53,234721,7,0,0,40,0.0,0,0,0,0,1,0,0,0,0,4.0
4,28,338409,13,0,0,40,0.0,0,0,0,0,1,0,0,0,0,4.0

In [103]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])

In [104]:
xt.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,salary,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,workclass
0,39,77516,13,2174,0,40,0.0,0,0,0,0,0,0,0,1,0,7.0
1,50,83311,13,0,0,13,0.0,0,0,0,0,0,0,1,0,0,6.0
2,38,215646,9,0,0,40,0.0,0,0,0,0,1,0,0,0,0,4.0
3,53,234721,7,0,0,40,0.0,0,0,0,0,1,0,0,0,0,4.0
4,28,338409,13,0,0,40,0.0,0,0,0,0,1,0,0,0,0,4.0

In [105]:
# decision tree model
dt_model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5)

In [106]:
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [107]:
dt_model.tree_.node_count

49

In [108]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.2876350359216461),
 ('education-num', 0.21886003085459996),
 ('capital-gain', 0.3634735443095578),
 ('capital-loss', 0.10301588353090045),
 ('hours-per-week', 0.02640936747862001),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0006061379046757821),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('workclass', 0.0)]

In [118]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,workclass,education
0,39,13,2174,0,40,0,0,0,0,0,...,0,1,0,0,0,0,0,0,7.0,9.0
1,50,13,0,0,13,0,0,0,0,0,...,0,1,0,0,0,0,0,0,6.0,9.0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,1,0,0,0,0,4.0,11.0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.0,1.0
4,28,13,0,0,40,0,0,0,0,1,...,0,1,0,0,0,0,0,0,4.0,9.0

In [119]:
list(x.drop('salary', axis=1).columns)

['age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'workclass_ ?',
 'workclass_ Federal-gov',
 'workclass_ Local-gov',
 'workclass_ Never-worked',
 'workclass_ Private',
 'workclass_ Self-emp-inc',
 'workclass_ Self-emp-not-inc',
 'workclass_ State-gov',
 'workclass_ Without-pay',
 'education_ 10th',
 'education_ 11th',
 'education_ 12th',
 'education_ 1st-4th',
 'education_ 5th-6th',
 'education_ 7th-8th',
 'education_ 9th',
 'education_ Assoc-acdm',
 'education_ Assoc-voc',
 'education_ Bachelors',
 'education_ Doctorate',
 'education_ HS-grad',
 'education_ Masters',
 'education_ Preschool',
 'education_ Prof-school',
 'education_ Some-college',
 'workclass',
 'education']

In [110]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [111]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.8283836491508246

Confusion matrix
[[23611  1109]
 [ 4479  3362]]

Classification report
              precision    recall  f1-score   support

         0.0       0.84      0.96      0.89     24720
         1.0       0.75      0.43      0.55      7841

    accuracy                           0.83     32561
   macro avg       0.80      0.69      0.72     32561
weighted avg       0.82      0.83      0.81     32561

### Education

In [130]:
transform_columns = ['workclass', 'education']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])

In [131]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])

In [132]:
# x.head(), xt.head()

In [134]:
# defined dt_model earlier for workclass
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [135]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.28819862069953756),
 ('education-num', 0.2182964460767084),
 ('capital-gain', 0.36393690919191163),
 ('capital-loss', 0.10301588353090045),
 ('hours-per-week', 0.025946002596266143),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.000606137904675782),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.0),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('workclass', 0.0),
 ('education', 0.0)]

In [136]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [137]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.8283836491508246

Confusion matrix
[[23610  1110]
 [ 4478  3363]]

Classification report
              precision    recall  f1-score   support

           0       0.84      0.96      0.89     24720
           1       0.75      0.43      0.55      7841

    accuracy                           0.83     32561
   macro avg       0.80      0.69      0.72     32561
weighted avg       0.82      0.83      0.81     32561

### Marital status

In [138]:
transform_columns = ['workclass', 'education', 'marital-status']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])
x['marital-status'] = enc.fit_transform(df[['marital-status']])

In [139]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])
xt['marital-status'] = enc.fit_transform(golden[['marital-status']])

In [140]:
# defined dt_model earlier
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [141]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.061045829435086095),
 ('education-num', 0.2100579758031614),
 ('capital-gain', 0.2184236140042116),
 ('capital-loss', 0.01955873441240639),
 ('hours-per-week', 0.025244319282615425),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0002681633640544175),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.0),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('marital-status_ Divorced', 0.0),
 ('marital-status_ Married-AF-spouse', 0.0),
 ('marital-status_ Married-civ-spouse', 0.46540136369846463),
 ('marital-status_ Married-spouse-absent', 0.0),
 ('marital-status_ Never-married', 0.0),
 ('marital-status_ Separated', 0.0),
 ('marital-status_ Widowed', 0.0),
 ('workclass', 0.0),
 ('education', 0.0),
 ('marital-status', 0.0)]

In [142]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [143]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions)) # first time seeing a change in precision

Accuracy score
0.846595620527625

Confusion matrix
[[23646  1074]
 [ 3921  3920]]

Classification report
              precision    recall  f1-score   support

           0       0.86      0.96      0.90     24720
           1       0.78      0.50      0.61      7841

    accuracy                           0.85     32561
   macro avg       0.82      0.73      0.76     32561
weighted avg       0.84      0.85      0.83     32561

### occupation

In [144]:
transform_columns = ['workclass', 'education', 'marital-status', 'occupation']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])
x['marital-status'] = enc.fit_transform(df[['marital-status']])
x['occupation'] = enc.fit_transform(df[['occupation']])

In [145]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])
xt['marital-status'] = enc.fit_transform(golden[['marital-status']])
xt['occupation'] = enc.fit_transform(golden[['occupation']])

In [146]:
# defined dt_model earlier
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [147]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.061045626213560425),
 ('education-num', 0.2100572765202994),
 ('capital-gain', 0.21842288687214556),
 ('capital-loss', 0.019558669301392512),
 ('hours-per-week', 0.02524423524429329),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.0),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('marital-status_ Divorced', 0.0),
 ('marital-status_ Married-AF-spouse', 0.0),
 ('marital-status_ Married-civ-spouse', 0.46539981437763384),
 ('marital-status_ Married-spouse-absent', 0.0),
 ('marital-status_ Never-married', 0.0),
 ('marital-status_ Separated', 0.0),
 ('marital-status_ Widowed', 0.0),
 ('occupation_ ?', 0.0),
 ('occupation_ Adm-clerical', 0.0),
 ('occupation_ Armed-Forces', 0.0),
 ('occupation_ Craft-repair', 0.0),
 ('occupation_ Exec-managerial', 0.0),
 ('occupation_ Farming-fishing', 0.0002714914706749448),
 ('occupation_ Handlers-cleaners', 0.0),
 ('occupation_ Machine-op-inspct', 0.0),
 ('occupation_ Other-service', 0.0),
 ('occupation_ Priv-house-serv', 0.0),
 ('occupation_ Prof-specialty', 0.0),
 ('occupation_ Protective-serv', 0.0),
 ('occupation_ Sales', 0.0),
 ('occupation_ Tech-support', 0.0),
 ('occupation_ Transport-moving', 0.0),
 ('workclass', 0.0),
 ('education', 0.0),
 ('marital-status', 0.0),
 ('occupation', 0.0)]

In [148]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [149]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.846595620527625

Confusion matrix
[[23647  1073]
 [ 3922  3919]]

Classification report
              precision    recall  f1-score   support

           0       0.86      0.96      0.90     24720
           1       0.79      0.50      0.61      7841

    accuracy                           0.85     32561
   macro avg       0.82      0.73      0.76     32561
weighted avg       0.84      0.85      0.83     32561

### relationship

In [153]:
transform_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])
x['marital-status'] = enc.fit_transform(df[['marital-status']])
x['occupation'] = enc.fit_transform(df[['occupation']])
x['relationship'] = enc.fit_transform(df[['relationship']])

In [154]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])
xt['marital-status'] = enc.fit_transform(golden[['marital-status']])
xt['occupation'] = enc.fit_transform(golden[['occupation']])
xt['relationship'] = enc.fit_transform(golden[['relationship']])

In [155]:
# defined dt_model earlier
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [156]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.061045626213560425),
 ('education-num', 0.20909007382190373),
 ('capital-gain', 0.21842288687214556),
 ('capital-loss', 0.019558669301392512),
 ('hours-per-week', 0.02524423524429329),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.000967202698395698),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('marital-status_ Divorced', 0.0),
 ('marital-status_ Married-AF-spouse', 0.0),
 ('marital-status_ Married-civ-spouse', 0.46539981437763384),
 ('marital-status_ Married-spouse-absent', 0.0),
 ('marital-status_ Never-married', 0.0),
 ('marital-status_ Separated', 0.0),
 ('marital-status_ Widowed', 0.0),
 ('occupation_ ?', 0.0),
 ('occupation_ Adm-clerical', 0.0),
 ('occupation_ Armed-Forces', 0.0),
 ('occupation_ Craft-repair', 0.0),
 ('occupation_ Exec-managerial', 0.0),
 ('occupation_ Farming-fishing', 0.0002714914706749448),
 ('occupation_ Handlers-cleaners', 0.0),
 ('occupation_ Machine-op-inspct', 0.0),
 ('occupation_ Other-service', 0.0),
 ('occupation_ Priv-house-serv', 0.0),
 ('occupation_ Prof-specialty', 0.0),
 ('occupation_ Protective-serv', 0.0),
 ('occupation_ Sales', 0.0),
 ('occupation_ Tech-support', 0.0),
 ('occupation_ Transport-moving', 0.0),
 ('relationship_ Husband', 0.0),
 ('relationship_ Not-in-family', 0.0),
 ('relationship_ Other-relative', 0.0),
 ('relationship_ Own-child', 0.0),
 ('relationship_ Unmarried', 0.0),
 ('relationship_ Wife', 0.0),
 ('workclass', 0.0),
 ('education', 0.0),
 ('marital-status', 0.0),
 ('occupation', 0.0),
 ('relationship', 0.0)]

In [157]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [158]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.846595620527625

Confusion matrix
[[23647  1073]
 [ 3922  3919]]

Classification report
              precision    recall  f1-score   support

           0       0.86      0.96      0.90     24720
           1       0.79      0.50      0.61      7841

    accuracy                           0.85     32561
   macro avg       0.82      0.73      0.76     32561
weighted avg       0.84      0.85      0.83     32561

### race

In [161]:
transform_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])
x['marital-status'] = enc.fit_transform(df[['marital-status']])
x['occupation'] = enc.fit_transform(df[['occupation']])
x['relationship'] = enc.fit_transform(df[['relationship']])
x['race'] = enc.fit_transform(df[['race']])

In [162]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])
xt['marital-status'] = enc.fit_transform(golden[['marital-status']])
xt['occupation'] = enc.fit_transform(golden[['occupation']])
xt['relationship'] = enc.fit_transform(golden[['relationship']])
xt['race'] = enc.fit_transform(golden[['race']])

In [163]:
# defined dt_model earlier
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [164]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.061045626213560425),
 ('education-num', 0.20909007382190373),
 ('capital-gain', 0.21842288687214556),
 ('capital-loss', 0.019558669301392512),
 ('hours-per-week', 0.02524423524429329),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.000967202698395698),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('marital-status_ Divorced', 0.0),
 ('marital-status_ Married-AF-spouse', 0.0),
 ('marital-status_ Married-civ-spouse', 0.46539981437763384),
 ('marital-status_ Married-spouse-absent', 0.0),
 ('marital-status_ Never-married', 0.0),
 ('marital-status_ Separated', 0.0),
 ('marital-status_ Widowed', 0.0),
 ('occupation_ ?', 0.0),
 ('occupation_ Adm-clerical', 0.0),
 ('occupation_ Armed-Forces', 0.0),
 ('occupation_ Craft-repair', 0.0),
 ('occupation_ Exec-managerial', 0.0),
 ('occupation_ Farming-fishing', 0.0002714914706749448),
 ('occupation_ Handlers-cleaners', 0.0),
 ('occupation_ Machine-op-inspct', 0.0),
 ('occupation_ Other-service', 0.0),
 ('occupation_ Priv-house-serv', 0.0),
 ('occupation_ Prof-specialty', 0.0),
 ('occupation_ Protective-serv', 0.0),
 ('occupation_ Sales', 0.0),
 ('occupation_ Tech-support', 0.0),
 ('occupation_ Transport-moving', 0.0),
 ('relationship_ Husband', 0.0),
 ('relationship_ Not-in-family', 0.0),
 ('relationship_ Other-relative', 0.0),
 ('relationship_ Own-child', 0.0),
 ('relationship_ Unmarried', 0.0),
 ('relationship_ Wife', 0.0),
 ('race_ Amer-Indian-Eskimo', 0.0),
 ('race_ Asian-Pac-Islander', 0.0),
 ('race_ Black', 0.0),
 ('race_ Other', 0.0),
 ('race_ White', 0.0),
 ('workclass', 0.0),
 ('education', 0.0),
 ('marital-status', 0.0),
 ('occupation', 0.0),
 ('relationship', 0.0),
 ('race', 0.0)]

In [165]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [166]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.846595620527625

Confusion matrix
[[23647  1073]
 [ 3922  3919]]

Classification report
              precision    recall  f1-score   support

           0       0.86      0.96      0.90     24720
           1       0.79      0.50      0.61      7841

    accuracy                           0.85     32561
   macro avg       0.82      0.73      0.76     32561
weighted avg       0.84      0.85      0.83     32561

### sex

In [169]:
transform_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])
x['marital-status'] = enc.fit_transform(df[['marital-status']])
x['occupation'] = enc.fit_transform(df[['occupation']])
x['relationship'] = enc.fit_transform(df[['relationship']])
x['race'] = enc.fit_transform(df[['race']])
x['sex'] = enc.fit_transform(df[['sex']])

In [170]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])
xt['marital-status'] = enc.fit_transform(golden[['marital-status']])
xt['occupation'] = enc.fit_transform(golden[['occupation']])
xt['relationship'] = enc.fit_transform(golden[['relationship']])
xt['race'] = enc.fit_transform(golden[['race']])
xt['sex'] = enc.fit_transform(golden[['sex']])

In [171]:
# defined dt_model earlier
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [172]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.061045626213560425),
 ('education-num', 0.2100572765202994),
 ('capital-gain', 0.21842288687214556),
 ('capital-loss', 0.019558669301392512),
 ('hours-per-week', 0.02524423524429329),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.0),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('marital-status_ Divorced', 0.0),
 ('marital-status_ Married-AF-spouse', 0.0),
 ('marital-status_ Married-civ-spouse', 0.46539981437763384),
 ('marital-status_ Married-spouse-absent', 0.0),
 ('marital-status_ Never-married', 0.0),
 ('marital-status_ Separated', 0.0),
 ('marital-status_ Widowed', 0.0),
 ('occupation_ ?', 0.0),
 ('occupation_ Adm-clerical', 0.0),
 ('occupation_ Armed-Forces', 0.0),
 ('occupation_ Craft-repair', 0.0),
 ('occupation_ Exec-managerial', 0.0),
 ('occupation_ Farming-fishing', 0.0002714914706749448),
 ('occupation_ Handlers-cleaners', 0.0),
 ('occupation_ Machine-op-inspct', 0.0),
 ('occupation_ Other-service', 0.0),
 ('occupation_ Priv-house-serv', 0.0),
 ('occupation_ Prof-specialty', 0.0),
 ('occupation_ Protective-serv', 0.0),
 ('occupation_ Sales', 0.0),
 ('occupation_ Tech-support', 0.0),
 ('occupation_ Transport-moving', 0.0),
 ('relationship_ Husband', 0.0),
 ('relationship_ Not-in-family', 0.0),
 ('relationship_ Other-relative', 0.0),
 ('relationship_ Own-child', 0.0),
 ('relationship_ Unmarried', 0.0),
 ('relationship_ Wife', 0.0),
 ('race_ Amer-Indian-Eskimo', 0.0),
 ('race_ Asian-Pac-Islander', 0.0),
 ('race_ Black', 0.0),
 ('race_ Other', 0.0),
 ('race_ White', 0.0),
 ('sex_ Female', 0.0),
 ('sex_ Male', 0.0),
 ('workclass', 0.0),
 ('education', 0.0),
 ('marital-status', 0.0),
 ('occupation', 0.0),
 ('relationship', 0.0),
 ('race', 0.0),
 ('sex', 0.0)]

In [173]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [174]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.846595620527625

Confusion matrix
[[23647  1073]
 [ 3922  3919]]

Classification report
              precision    recall  f1-score   support

           0       0.86      0.96      0.90     24720
           1       0.79      0.50      0.61      7841

    accuracy                           0.85     32561
   macro avg       0.82      0.73      0.76     32561
weighted avg       0.84      0.85      0.83     32561

### native-country

In [177]:
transform_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

x = df.copy()
x = pd.concat([x.drop(non_numeric_columns, axis = 1), pd.get_dummies(df[transform_columns])], axis = 1,)
x['workclass'] = enc.fit_transform(df[['workclass']])
x['education'] = enc.fit_transform(df[['education']])
x['marital-status'] = enc.fit_transform(df[['marital-status']])
x['occupation'] = enc.fit_transform(df[['occupation']])
x['relationship'] = enc.fit_transform(df[['relationship']])
x['race'] = enc.fit_transform(df[['race']])
x['sex'] = enc.fit_transform(df[['sex']])
x['native-country'] = enc.fit_transform(df[['native-country']])

In [178]:
xt = golden.copy()
xt = pd.concat([xt.drop(non_numeric_columns, axis = 1), pd.get_dummies(golden[transform_columns])], axis = 1,)
xt['workclass'] = enc.fit_transform(golden[['workclass']])
xt['education'] = enc.fit_transform(golden[['education']])
xt['marital-status'] = enc.fit_transform(golden[['marital-status']])
xt['occupation'] = enc.fit_transform(golden[['occupation']])
xt['relationship'] = enc.fit_transform(golden[['relationship']])
xt['race'] = enc.fit_transform(golden[['race']])
xt['sex'] = enc.fit_transform(golden[['sex']])
xt['native-country'] = enc.fit_transform(golden[['native-country']])

In [179]:
# defined dt_model earlier
dt_model.fit(x.drop(['fnlwgt','salary'], axis = 1), x.salary)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [180]:
list(zip(x.drop(['fnlwgt','salary'], axis = 1).columns, dt_model.feature_importances_))

[('age', 0.061045626213560425),
 ('education-num', 0.2100572765202994),
 ('capital-gain', 0.21842288687214556),
 ('capital-loss', 0.019558669301392512),
 ('hours-per-week', 0.02524423524429329),
 ('workclass_ ?', 0.0),
 ('workclass_ Federal-gov', 0.0),
 ('workclass_ Local-gov', 0.0),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.0),
 ('workclass_ Self-emp-inc', 0.0),
 ('workclass_ Self-emp-not-inc', 0.0),
 ('workclass_ State-gov', 0.0),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0),
 ('education_ 11th', 0.0),
 ('education_ 12th', 0.0),
 ('education_ 1st-4th', 0.0),
 ('education_ 5th-6th', 0.0),
 ('education_ 7th-8th', 0.0),
 ('education_ 9th', 0.0),
 ('education_ Assoc-acdm', 0.0),
 ('education_ Assoc-voc', 0.0),
 ('education_ Bachelors', 0.0),
 ('education_ Doctorate', 0.0),
 ('education_ HS-grad', 0.0),
 ('education_ Masters', 0.0),
 ('education_ Preschool', 0.0),
 ('education_ Prof-school', 0.0),
 ('education_ Some-college', 0.0),
 ('marital-status_ Divorced', 0.0),
 ('marital-status_ Married-AF-spouse', 0.0),
 ('marital-status_ Married-civ-spouse', 0.46539981437763384),
 ('marital-status_ Married-spouse-absent', 0.0),
 ('marital-status_ Never-married', 0.0),
 ('marital-status_ Separated', 0.0),
 ('marital-status_ Widowed', 0.0),
 ('occupation_ ?', 0.0),
 ('occupation_ Adm-clerical', 0.0),
 ('occupation_ Armed-Forces', 0.0),
 ('occupation_ Craft-repair', 0.0),
 ('occupation_ Exec-managerial', 0.0),
 ('occupation_ Farming-fishing', 0.0002714914706749448),
 ('occupation_ Handlers-cleaners', 0.0),
 ('occupation_ Machine-op-inspct', 0.0),
 ('occupation_ Other-service', 0.0),
 ('occupation_ Priv-house-serv', 0.0),
 ('occupation_ Prof-specialty', 0.0),
 ('occupation_ Protective-serv', 0.0),
 ('occupation_ Sales', 0.0),
 ('occupation_ Tech-support', 0.0),
 ('occupation_ Transport-moving', 0.0),
 ('relationship_ Husband', 0.0),
 ('relationship_ Not-in-family', 0.0),
 ('relationship_ Other-relative', 0.0),
 ('relationship_ Own-child', 0.0),
 ('relationship_ Unmarried', 0.0),
 ('relationship_ Wife', 0.0),
 ('race_ Amer-Indian-Eskimo', 0.0),
 ('race_ Asian-Pac-Islander', 0.0),
 ('race_ Black', 0.0),
 ('race_ Other', 0.0),
 ('race_ White', 0.0),
 ('sex_ Female', 0.0),
 ('sex_ Male', 0.0),
 ('native-country_ ?', 0.0),
 ('native-country_ Cambodia', 0.0),
 ('native-country_ Canada', 0.0),
 ('native-country_ China', 0.0),
 ('native-country_ Columbia', 0.0),
 ('native-country_ Cuba', 0.0),
 ('native-country_ Dominican-Republic', 0.0),
 ('native-country_ Ecuador', 0.0),
 ('native-country_ El-Salvador', 0.0),
 ('native-country_ England', 0.0),
 ('native-country_ France', 0.0),
 ('native-country_ Germany', 0.0),
 ('native-country_ Greece', 0.0),
 ('native-country_ Guatemala', 0.0),
 ('native-country_ Haiti', 0.0),
 ('native-country_ Holand-Netherlands', 0.0),
 ('native-country_ Honduras', 0.0),
 ('native-country_ Hong', 0.0),
 ('native-country_ Hungary', 0.0),
 ('native-country_ India', 0.0),
 ('native-country_ Iran', 0.0),
 ('native-country_ Ireland', 0.0),
 ('native-country_ Italy', 0.0),
 ('native-country_ Jamaica', 0.0),
 ('native-country_ Japan', 0.0),
 ('native-country_ Laos', 0.0),
 ('native-country_ Mexico', 0.0),
 ('native-country_ Nicaragua', 0.0),
 ('native-country_ Outlying-US(Guam-USVI-etc)', 0.0),
 ('native-country_ Peru', 0.0),
 ('native-country_ Philippines', 0.0),
 ('native-country_ Poland', 0.0),
 ('native-country_ Portugal', 0.0),
 ('native-country_ Puerto-Rico', 0.0),
 ('native-country_ Scotland', 0.0),
 ('native-country_ South', 0.0),
 ('native-country_ Taiwan', 0.0),
 ('native-country_ Thailand', 0.0),
 ('native-country_ Trinadad&Tobago', 0.0),
 ('native-country_ United-States', 0.0),
 ('native-country_ Vietnam', 0.0),
 ('native-country_ Yugoslavia', 0.0),
 ('workclass', 0.0),
 ('education', 0.0),
 ('marital-status', 0.0),
 ('occupation', 0.0),
 ('relationship', 0.0),
 ('race', 0.0),
 ('sex', 0.0),
 ('native-country', 0.0)]

In [181]:
dt_predictions = dt_model.predict(xt.drop(['fnlwgt','salary'], axis = 1))

In [182]:
print('Accuracy score')
print(accuracy_score(xt.salary, dt_predictions))
print('')
print('Confusion matrix')
print(confusion_matrix(xt.salary, dt_predictions))
print('')
print('Classification report')
print(classification_report(xt.salary, dt_predictions))

Accuracy score
0.846595620527625

Confusion matrix
[[23647  1073]
 [ 3922  3919]]

Classification report
              precision    recall  f1-score   support

           0       0.86      0.96      0.90     24720
           1       0.79      0.50      0.61      7841

    accuracy                           0.85     32561
   macro avg       0.82      0.73      0.76     32561
weighted avg       0.84      0.85      0.83     32561

# 3. Optional: Using gridSearch find the most optimal parameters for your model
Warning: this can be computationally intensive and may take some time.
- https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
- https://scikit-learn.org/stable/modules/grid_search.html